<?xml version="1.0"?>
<Settings>
  <Setting>
    <Key>Signature</Key>
    <Value>sfP/n0VJ79UUC+GE0POrmwNBOBpWfxZhv32ZlTyWvBFzhW33GLm8qQ==</Value>
  </Setting>
  <Setting>
    <Key>MaxPortals</Key>
    <Value>0</Value>
  </Setting>
  <Setting>
    <Key>Email</Key>
    <Value>
    </Value>
  </Setting>
  <Setting>
    <Key>ServiceUntil</Key>
    <Value>2020-11-20 21:33:29Z</Value>
  </Setting>
  <Setting>
    <Key>Expires</Key>
    <Value>2020-11-20 21:33:29Z</Value>
  </Setting>
  <Setting>
    <Key>Invoice</Key>
    <Value>TRIAL</Value>
  </Setting>
</Settings>